

<!--Yeni bir thing için oluşturmak için gerekli modal-->
{% load crispy_forms_tags %}
<div class="modal fade " id="areusure" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  >
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
          <h3><span class="">Emin misin?</span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>


      <div class="modal-body">
        <h4>Yorumun silinecek..</h4>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Boşver</button>
          <a href="" class="btn btn-danger deletenow">Sil</a>

      </div>
        </form>
    </div>
  </div>
</div>
